.centrado{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-content: center;
}

.titulo-principal {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #007bff;
}


.tipo_entrada{
    display:flex;
}

/*input, select {
    width: 450px !important;
} **/

#selecComparador{
    display:none;
}
/*
.indiceTabla::after{
    content: "→";
}*/

#loginForm{
    min-height: 500px;
}
#calendars{
    display:flex;
}

main{
    margin-bottom: 60px;
}

footer {
    background-color: #F8F9FA;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el footer esté por encima del contenido */
}
