:root {
    --color-primario: #30b457;
    --color-advertencia: #cc7a00;
    --color-error: #FF0000;
    --color-exito: #30b457;
    --color-blanco-letra: #F5F5F5;
    --color-background: #F0F0F0;
}

.body-bg{
    background-color: var(--color-background);
}


nav {
    color: var(--color-blanco-letra);
    background-color: var(--color-primario)
}

nav a{
    text-decoration: none;
    margin-right: 20px;
    color: var(--color-blanco-letra);
}



.color-tabla{
    color: var(--color-blanco-letra);
}

.user-icon {
    position: relative;
}

.user-panel {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.user-panel img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.user-icon:hover .user-panel {
    display: block;
}


.navbar-nav .nav-link {
    font-size: 20px;

}

.titulo-principal {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--color-primario)
}

#main-title {
    font-size: 3em;
    margin-bottom: 0;
}

#sub-title {
    font-size: 1.2em; /
    margin-top: 0;
}

#loginForm{
    min-height: 500px;
}

main{
    margin-bottom: 100px;
}

thead {
    background-color: var(--color-primario);
}

footer {
    color: var(--color-blanco-letra);
    background-color: var(--color-primario);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
footer p{
    margin-bottom:5px;
}

footer img{

    width: 100%;
}

.btn-custom {
    color: var(--color-blanco-letra);
    background-color: var(--color-primario);
    border-radius: 10px;
    border-color: var(--color-primario);
    font-weight: bold;
}

input {
    max-width: 700px;
}

select {
    max-width: 700px;
}

.errorMessage{
    color: var(--color-error);
    display: none;
    text-align: center;
}

.processingMessage{
    color: var(--color-advertencia);
    display: none;
    text-align: center;
}

.serverResponse{
    color: var(--color-exito);
    display: none;
    text-align: center;
}
#primerGrafico{
    display:none;
}


.input-wrapper {
    position: relative;

}
.input-text {
    width: 100%;
    padding-right: 40px; /* espacio para el botón */
    box-sizing: border-box; /* incluir padding en el ancho total */
    height: 36px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.input-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 26px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
}