:root {
    --color-primario: #30b457;
    --color-advertencia: #FFFF99;
    --color-error: #FF6347;
    --color-exito: #30b457;
}


nav {
    background-color: var(--color-primario)
}

.user-icon {
    position: relative;
}

.user-panel {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.user-panel img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.user-icon:hover .user-panel {
    display: block;
}


.navbar-nav .nav-link {
    font-size: 14px;
}

.titulo-principal {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--color-primario)
}

#main-title {
    font-size: 3em;
    margin-bottom: 0;
}

#sub-title {
    font-size: 1.2em; /
    margin-top: 0;
}

#loginForm{
    min-height: 500px;
}

main{
    margin-bottom: 60px;
}

thead {
    background-color: var(--color-primario);
}

footer {
    background-color: var(--color-primario);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.btn-custom {
    background-color: var(--color-primario);
    border-radius: 10px
}

input {
    max-width: 700px;
}

select {
    max-width: 700px;
}

.errorMessage{
    background: var(--color-error);
    display: none;
    text-align: center;
}

.processingMessage{
    background: var(--color-advertencia);
    text-align: center;
}

.serverResponse{
    background: var(--color-exito);
    display: none;
    text-align: center;
}
#primerGrafico{
    display:none;
}


.input-wrapper {
    position: relative;

}
.input-text {
    width: 100%;
    padding-right: 40px; /* espacio para el botón */
    box-sizing: border-box; /* incluir padding en el ancho total */
    height: 36px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.input-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 26px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
}