

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../static/Images/logomailPagina.png" alt="Logo alvarez comunicaciones">
                </div>
                <div class="col-md-4">
                    <p>www.alvarezcomunicaciones.com.ar</p>
                </div>
                <div class="col-md-4">
                    <p>alvarezcom66@gmail.com</p>
                    <p>Tel.: 0249 154538268</p>
                </div>
            </div>
        </div>
    </footer>