<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/StyleSheets/Styles.css}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home</title>
</head>
<body>

<header th:include="Header.html" class = "titulo-principal"></header>

<div class="container-sm mt-3 d-flex justify-content-center" th:if="${rol == 'admin'}">
    <form class="m-4" id="seleccionarArchivo" enctype="multipart/form-data">
        <div class="form-group">
            <h3 class="mb-5"> Elija un archivo para subir</h3>
            <input type="file" class="form-control mt-4" id="myfile" name="myfile">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="mt-3 mb-3 btn-custom max-width-300">Subir Archivo</button>
        </div>
        <div id="errorMessage"></div>
        <div id="processingMessage" class="processingMessage" style="display: none;">El archivo se está procesando, por favor espere...</div>
        <div id="serverResponse" class="serverResponse"></div>
    </form>
</div>

<p class="text-center"> Nota: El formato del archivo debe ser el usado por la central</p>

<div th:unless="${rol == 'admin'}">
    <div class="alert alert-warning m-4" role="alert">
        USTED NO ES ADMINISTRADOR, NO TE PASES DE LISTO
    </div>
</div>
    <footer th:include = "Footer.html"> </footer>
    <script type="module" src="../../static/Scripts/FormArchive.js"> </script>
</body>
</html>