<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/StyleSheets/Styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>

    <header th:include = "Header.html"></header>

<main class="container-fluid">
    <div>
        <h4 class = "text-center mt-5">Seleccione el tipo de filtro</h4>
    </div>
    <form class = "m-4"  id= "filter">
        <!--
        <div class="block-center  d-flex">
            <select class = "form-select mx-2" id="select">
                <option value="seleccione" selected>--Seleccione</option>
                <option class="opcion" value="date" data-type="comparable">Time (YYYY-MM-DD'T'HH:MM:SS)</option>
                <option class="opcion" value="callerName" data-type="noComparable">Caller Name</option>
                <option class="opcion" value="callerNumber" data-type="noComparable">Caller Number</option>
                <option class="opcion" value="calleeName" data-type="noComparable">Callee Name</option>
                <option class="opcion" value="calleeNumber" data-type="noComparable">Callee Number</option>
                <option class="opcion" value="did" data-type="noComparable">DID</option>
                <option class="opcion" value="dod" data-type="noComparable">DOD</option>
                <option class="opcion" value="callDuration" data-type="comparable">Call Duration (hh:mm:ss)</option>
                <option class="opcion" value="talkDuration" data-type="comparable">Talk Duration (hh:mm:ss)</option>
                <option class="opcion" value="status" data-type="noComparable">Status</option>
                <option class="opcion" value="sourceTrunk" data-type="noComparable">Source Trunk</option>
                <option class="opcion" value="destinationTrunk" data-type="noComparable">Destination Trunk</option>
                <option class="opcion" value="communicationType" data-type="noComparable">Communication Type</option>
                <option class="opcion" value="pin" data-type="noComparable">PIN</option>
                <option class="opcion" value="callerIPAddress" data-type="noComparable">Caller IP Address</option>
            </select>
            <select class = "form-select" id="selecComparador">
                <option value="seleccione" selected>--Seleccione</option>
                <option class="comparador" value="menor">Menor</option>
                <option class="comparador" value="igual">Igual</option>
                <option class="comparador" value="mayor">Mayor</option>
            </select>
            <input class="form-control mx-2" id="barra_entrada" type="text" placeholder="Ingrese valor"/>
        </div>
    -->

        <div id="">
            <div>
                <div>Seleccione rango de fechas</div>
                <div>
                    <input class="form-control mx-2" id="barra_entrada_date1" type="datetime-local"/>
                    <input class="form-control mx-2" id="barra_entrada_date2" type="datetime-local"/>
                </div>
            </div>
            <div>Call From:</div>
            <input class="form-control mx-2" id="barra_entrada_call_from" type="text"/>
            <div>Call To:</div>
            <input class="form-control mx-2" id="barra_entrada_call_to" type="text"/>
            <div>Waiting Time (segundos):</div>
            <input class="form-control mx-2" id="barra_entrada_waiting_time" type="text"/>
        </div>
        <div>
            <div>Status:</div>
            <select class = "form-select" id="selectStatus">
                <option value="" selected>--Seleccione</option>
                <option class="optionStatus" value="ANSWERED">ANSWERED</option>
                <option class="optionStatus" value="NO ANSWER">NO ANSWER</option>
                <option class="optionStatus" value="VOICEMAIL">VOICEMAIL</option>
            </select>
        </div>
        <div>
            <div>Communication Type:</div>
            <select class = "form-select" id="selectCom">
                <option value="" selected>--Seleccione</option>
                <option class="optionCom" value="INBOUND">INBOUND</option>
                <option class="optionCom" value="OUTBOUND">OUTBOUND</option>
                <option class="optionCom" value="INTERNAL">INTERNAL</option>
                <option class="optionCom" value="TRANSFER">TRANSFER</option>
            </select>
        </div>
        <div>
            <div>Source Trunk:</div>
            <select class = "form-select" id="selectSource">
                <option value="" selected>--Seleccione</option>
                <option class="optionSource" value="445-1054">445-1054</option>
                <option class="optionSource" value="445-3608">445-3608</option>
                <!--<option class="optionSource" value="">--</option>
                <option class="optionSource" value="">--</option>-->
            </select>
        </div>

        <!--
                <select class="form-select mx-2" id = "selectMostrar">
                    <option id="selecMostrar" value="seleccione" selected>--Seleccione</option>
                    <option class="opcion" value="date">Time</option>
                    <option class="opcion" value="callerName">Caller Name</option>
                    <option class="opcion" value="callerNumber">Caller Number</option>
                    <option class="opcion" value="calleeName">Callee Name</option>
                    <option class="opcion" value="calleeNumber">Callee Number</option>
                    <option class="opcion" value="did">DID</option>
                    <option class="opcion" value="dod">DOD</option>
                    <option class="opcion" value="callDuration">Call Duration</option>
                    <option class="opcion" value="talkDuration">Talk Duration</option>
                    <option class="opcion" value="status">Status</option>
                    <option class="opcion" value="sourceTrunk">Source Trunk</option>
                    <option class="opcion" value="destinationTrunk">Destination Trunk</option>
                    <option class="opcion" value="communicationType">Communication Type</option>
                    <option class="opcion" value="pin">PIN</option>
                    <option class="opcion" value="callerIPAddress">Caller IP Address</option>
                </select>
            -->
        <button  class="btn btn-primary" type="submit">Filtrar</button>

    </form>


        <div id="cantidadFilas">

    </div>
    <div id="cantHorasCallee">

    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped-columns" id="tabla" >
            <thead id="headerTable">

            </thead>
            <tbody id="bodyTable">
            </tbody>

            </table>
        </div>

    </main>

    <footer th:include = "Footer.html">

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="../../static/Scripts/Main.js"></script>
    <script type="module" src="../../static/Scripts/DynamicTable.js"></script>



</body>
</html>