<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="table-responsive">
        <table class="table table-bordered table-striped-columns" id="tableArchive">
            <thead id="headerTable">
            </thead>
            <tbody id="bodyTable">

            </tbody>
        </table>
    </div>

    <script type="module" src="../../static/Scripts/TableArchives.js"></script>
</body>
</html>